PHASE - 1\com.shivanshu.selenium_project\.settings
PHASE - 1\com.shivanshu.selenium_project\target
PHASE - 1\com.shivanshu.selenium_project\.classpath
PHASE - 1\com.shivanshu.selenium_project\.project
PHASE - 1\com.shivanshu.selenium_project\pom.xml
